
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


.flex-equal-width {
  flex-basis: 0;
  flex-grow: 1
}


.forum-item {
  width: 100%;
  text-align: left;
  box-shadow: 2px 2px 2px gray;
}